.all{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 20px;

    cursor:default;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    scroll-behavior:smooth

}

.dvs{
    background-color: rgb(241, 253, 255);
    box-shadow: var(--shadowsmall);
    border-radius: 20px;
    width: 300px;
    margin: 20px;
    padding: 20px;


}
h1{
    font-size: 35px;
    text-align: center;
}
p{
    color: var(--accent);
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px !important;
    margin-bottom: 5px !important; 
}

.modal-body{
    cursor: text;
    user-select: all;
}

.modal-body span{
    color: green;
}